@font-face {
  font-family: 'iconfont'; /* Project id 4209212 */
  src:
    url('iconfont.woff2?t=1693651170444') format('woff2'),
    url('iconfont.woff?t=1693651170444') format('woff'),
    url('iconfont.ttf?t=1693651170444') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tingdun:before {
  content: '\e759';
}

.icon-music:before {
  content: '\e924';
}

.icon-music1:before {
  content: '\ecd2';
}

.icon-ic_music:before {
  content: '\e6bf';
}

.icon-pause:before {
  content: '\e6ab';
}

.icon-close:before {
  content: '\e856';
}

.icon-delete:before {
  content: '\e6f6';
}

.icon-roundclosefill:before {
  content: '\e658';
}

.icon-play:before {
  content: '\e6b0';
}
