.ssml-wrapper {
  --ssml-voice: #ff5733;
  --ssml-audio: #c70039;
  --ssml-emphasis: #ffd700;
  --ssml-phoneme: #02c3c1;
  --ssml-prosody: #ffa500;
  --ssml-say-as: #e6ae00;
  --ssml-sub: #ff8c00;
  --ssml-p: #b7003d;
  --ssml-s: #ff4d00;
  --ssml-w: #008080;
  --ssml-break: #04a363;
  --ssml-mstts--express-as: #0079d3;

  position: relative;
  box-sizing: border-box;
  border: 0px;

  &:not(.no-line-height) {
    line-height: 2.6rem;
    vertical-align: top;
  }

  .data-content::before {
    content: attr(data-content);
  }

  .remark {
    &:not(.left) {
      position: absolute;
      top: -18px;
      left: 0px;
    }

    display: inline-flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    padding: 0px 4px;
    margin: 0;

    line-height: normal;
    font-size: 0.5rem;
    border-radius: 3px;

    color: white;
    height: 18px;
    max-width: 150px;
    white-space: nowrap;

    &:not(.left):hover {
      z-index: 2;
      max-width: 300px;
    }

    .data-content {
      display: inline-block;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .iconfont {
      color: #e2fafa;
      opacity: 0.6;
      font-size: 0.5rem;

      &:hover {
        cursor: pointer;
        opacity: 0.9;
      }
    }
  }
}
