:root {
  --tool-green-border-color: #2da94f;
  --tool-cyan-color: #00cee3;
  --tool-orange-color: #f57d19;
  --tool-purple-color: #9958f4;
  --tool-yellow-color: #f6b601;
  --tool-btn-hover-bg-color: #e5e5e5;
  --tool-bg-color: #f4f6f7;
}
