:root {
  --tool-green-border-color: #2da94f;
  --tool-cyan-color: #00cee3;
  --tool-orange-color: #f57d19;
  --tool-purple-color: #9958f4;
  --tool-yellow-color: #f6b601;
  --tool-btn-hover-bg-color: #e5e5e5;
  --tool-bg-color: #f4f6f7;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(177, 177, 177, 0.5);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(162, 161, 161, 0.5);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:active {
  background: rgba(184, 182, 182, 0.5);
  border-radius: 8px;
}

img {
  pointer-events: none;
}
