.flex {
  display: flex;

  &.flex-row {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &.flex-col {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &.flex-wrap {
    flex-wrap: wrap;
  }
}

.inline-flex {
  display: inline-flex;

  &.flex-row {
    flex-direction: row;
  }

  &.flex-col {
    flex-direction: column;
  }
}
