.flex {
  display: flex;

  &.flex-row {
    flex-direction: row;
    align-items: center;
  }

  &.flex-col {
    flex-direction: column;
    align-items: center;
  }
}

.inline-flex {
  display: inline-flex;

  &.flex-row {
    flex-direction: row;
  }

  &.flex-col {
    flex-direction: column;
  }
}
