@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  outline: none;
}
