@import './base.scss';
@import './flex.scss';
@import './size.scss';
@import './space.scss';
@import './iconfont/iconfont.css';
@import './iconfont-moyin/iconfont.css';

.btn:not(.disabled) {
  cursor: pointer;
}

.btn.disabled {
  cursor: not-allowed;
}

.btn.radius {
  border-radius: 5px;
}
