@for $i from 1 to 200 {
  .w-#{$i} {
    width: #{$i * 8}px;
  }
}

@for $i from 1 to 200 {
  .h-#{$i} {
    height: #{$i * 8}px;
  }
}

@for $i from 1 to 200 {
  .m-#{$i} {
    margin: #{$i}px;
  }
}

@for $i from 1 to 200 {
  .p-#{$i} {
    padding: #{$i}px;
  }
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}
