.ssml-wrap {
  $speaker: #e86136;
  $read: #d31b39;
  $digits: #e18d17;
  $continuous: #05b3b1;
  $alias: #d4ac00;
  $english: #d4ac00;
  $changespeed: #d4ac00;
  $management: #d4ac00;
  $conversion: #d4ac00;
  $rhythm: #04a363;
  $mute: #0e5dd5;
  $symbol: #3547ed;
  $special: #3547ed;
  $bgm: #3547ed;

  display: inline-block;

  .bg-color {
    &.speaker {
      background-color: $speaker;
    }

    &.read {
      background-color: $read;
    }

    &.digits {
      background-color: $digits;
    }

    &.continuous {
      background-color: $continuous;
    }
  }

  .ft-color {
    &.speaker {
      color: $speaker;
    }

    &.read {
      color: $read;
    }

    &.digits {
      color: $digits;
    }

    &.continuous {
      color: $continuous;
    }
  }

  .tag {
    border-radius: 5px;
    margin: 0px 2px;
    padding: 2px 5px;
    color: white;

    .iconfont {
      color: #e2fafa;
      opacity: 0.6;
    }

    .btn-close {
      display: inline-block;
      padding-left: 4px;
    }
  }

  .tag-remark::before {
    content: attr(data-tag-remark);
  }

  .boundary {
    &.start::before {
      content: '【';
    }

    &.end::before {
      content: '】';
    }
  }
}
